/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

/* Form container */
.input-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
}

.input-container form {
    display: flex;
    flex-direction: column;
}

.input-container label {
    margin-bottom: 5px;
    color: #555;
}

.input-container input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.input-container button {
    align-self: flex-end;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.input-container button:hover {
    background-color: #0056b3;
}

/* ToDo List container */
.todo-list-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fafafa;
    border-bottom: 1px solid #eee;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

li:last-child {
    border-bottom: none;
}

p {
    margin: 5px 0;
}

.todo-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.todo-item .todo-item-contents{
    width: 60%;
}

.todo-item .list-btn-container{
    display: flex;
    justify-content: space-around;
    width: 40%;
    max-height: 40px;
}

/* Buttons in the ToDo List */
.todo-item .btn {
    margin: 5px 0;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    width: 80px; /* Set a fixed width */
    text-align: center;
}

.todo-item .btn:hover {
    background-color: #0056b3;
}

.todo-item .edit-bttn {
    background-color: #9544ff; /* Purple for edit */
}

.todo-item .edit-bttn:hover {
    background-color: #7333cc;
}

.todo-item .del-btn {
    background-color: #dc3545; /* Red for delete */
}

.todo-item .del-btn:hover {
    background-color: #c82333;
}

li span {
    display: flex;
    align-items: center;
}

li input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Search bar container */
.search-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    max-width: 400px;
}

.search-container form {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-container input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    width: 60%;
}

.search-container button {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 8px 10px;
    font-size: 16px;
    margin-left: 10px;
}

.search-container button:hover {
    background-color: #0056b3;
}